$wp-theme-color: #28B389;  // 品牌主题颜色

/* 行为相关颜色 */
$wp-color-primary: #007aff;
$wp-color-secondary: #007aff;
$wp-color-success: #4cd964;
$wp-color-warning: #f0ad4e;
$wp-color-error: #dd524d;

/* 文字基本颜色 */
$wp-text-color: #212121; //基本色
$wp-text-color-inverse: #FAFAFA; //反色
$wp-text-color-grey: #9E9E9E; //辅助灰色，如加载更多的提示信息
$wp-text-color-placeholder: #808080;
$wp-text-color-disable: #c0c0c0;

$wp-font-color-1: #424242;  // 标题
$wp-font-color-2: #616161;  // 副标题
$wp-font-color-3: #757575;  // 内容
$wp-font-color-4: #BDBDBD;  // 单词

/* 背景颜色 */
$wp-bg-color: #ffffff;
$wp-bg-color-grey: #f8f8f8;
$wp-bg-color-hover: #f1f1f1; //点击状态颜色
$wp-bg-color-mask: rgba(0, 0, 0, 0.4); //遮罩颜色

/* 边框颜色 */
$wp-border-color: #c8c7cc;  // 边框颜色
$wp-border-color-light: #efefef;  // 边框亮色
